<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Test Suite" verbose="1"  parallel="classes" thread-count="3">
    <test verbose="2" preserve-order="true" name="/Users/aidai/Downloads/FALL2022">
        <classes>
            <class name="Calculator">
                <methods>
                    <include name="testSum"/>

                </methods>
            </class>
            <class name="TestDemo">
                <methods>
                    <include name="testSum3"/>
                </methods>
            </class>
            <class name="TestUser">
                <methods>
                    <include name="testSum2"/>
                </methods>
            </class>
        </classes>
        
    </test>
</suite>